.introSection {
    display: flex;
    align-items: center;
    justify-content: center;
}
.introBgBox {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introBgImg {
    width: 100%;
    z-index: -999;
}
.introContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.introTitle {
    font-size: 30pt;
    color: #fff;
    font-weight: 800;
    margin-top: 100px;
}
.contents {
    font-size: 18pt;
    color: #fff;
    font-weight: 600;
}

@media (max-width: 1460px) {
    .introBgImg {
        width: auto;
        height: 100%;
    }
    .introContainer {
        width: 85%;
    }
    .introTitle {
        font-size: 20pt;
    }
    .contents {
        font-size: 14pt;
    }
}

@media (max-width: 500px) {
    .introTitle {
        font-size: 15pt;
    }
    .contents {
        font-size: 11pt;
    }
}