.introBgBox {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}

.introBgImg {
    height: 100%;
    width: 100%;
    z-index: -999;
}

.introContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
}
.introMsg {
    margin-top: 20%;
    padding-left: 100px;
}
.introMsgContent {
    color: #fff;
    font-size: 25pt;
    font-weight: 600;
    animation: fadein 2s ease;
}
.introMsgContent:first-child {
    font-size: 23pt;
}
.introMsgContent:last-child {
    font-size: 26pt;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@media (max-width: 1460px) {
    .introContainer {
        height: 100vh;
    }
    .introBgImg {
        width: auto;
    }
    .introMsg {
        padding: 0;
        margin: auto;
    }
    .introMsgContent {
        font-size: 18pt;
    }
}

@media (max-width: 600px) {
    .introMsgContent {
        font-size: 15pt !important;
    }
}

@media (max-width: 300px) {
    .introMsgContent {
        font-size: 12pt !important;
    }
}