::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
}
main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sections {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}
.backgrounds {
    position: absolute;
    /* top: 80px; */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
}
.backgrounds::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.6);
}

#introBg .slick-slider, #introBg .slick-list, #introBg .slick-slide {
    height: 100vh;
    z-index: -99;
}

/********************************************

                    header

***********************************************/
#top-navbar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #004435;
    top: 0;
    z-index:99;
    transition: all 0.3s ease;
}
.navbar-logo {
    display: flex;
    width: 20%;
    /* padding-left: 120px; */
    height: 100%;
    justify-content: center;
    align-items: center;
}
.navbar-logo a {
    display: flex;
    height: 100%;
    text-align: center;
}
#logo {
    height: 100%;
}

.menu-box {
    display: flex;
    width: 80%;
    height: 100%;
}
.menu-list-box {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: end;
    align-items: center;
}
.menu-item {
    padding: 8px 15px;
    margin: 0 30px;
    text-decoration: none;
    color: #004435;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 15pt;
    transition: all 0.3s ease;
}
.menu-item:hover {
    border: 2px solid #004435;
}
.menu-item:last-child {
    margin-right: 50px;
}
.link-list-box {
    display: flex;
    width: 45%;
    height: 100%;
    align-items: center;
}
.link-list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.link-item {
    text-decoration: none;
    padding: 8px 15px;
    margin: none;
    color: #fff;
    background-color: #004435;
    border: 2px solid #004435;
    font-weight: 600;
    font-size: 15pt;
    transition: all 0.3s ease;
}
.link-item:last-child {
    animation-name: flicker;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-right: 100px;
}
.link-item:hover {
    background-color: #fff;
    color: #004435;
}

@keyframes flicker {
    from {
        background-color: #fff;
        color: #004435;
    }
    to {
        background-color: #004435;
        color: #fff;
    }
}


/********************************************

                    side menu

***********************************************/
#side-nav {
    position: fixed;
    width: 100px;
    top: 50%;
    right: 12px;
    transform: translateY(-40%);
    z-index: 99;
}
.sideNavBox {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-item {
    background-color: #fff;
    color: #004435;
    border: 2px solid #004435;
    border-bottom: none;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    font-size: 11pt;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.side-item:last-child {
    border-bottom: 2px solid #004435;
}
.side-item:hover, .side-item-focused {
    background-color: #004435;
    color: #fff;
}



/********************************************

                    footer

***********************************************/
.footer {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-top: 2px solid #004435;
}
.footer p {
    margin: 0;
}
.footer-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.footer-name-box, .footer-copy-box {
    display: flex;
    width: 220px;
    height: 25px;
    align-items: center;
}
.footer-name, .footer-copy {
    font-size: 11pt;
    font-weight: 600;
}
.footer-center {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
}
.footer-addr, .footer-phone {
    font-size: 11pt;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    padding-left: 80px;
}
.footer-phone span {
    padding-left: 50px;
}
.footer-sns {
    display: flex;
    width: 200px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.footer-sns a {
    opacity: 0.7;
    transition: all 0.2s ease;
}
.footer-sns a:hover {
    opacity: 1;
}
.footer-sns img {
    width: 40px;
}
.footer-logo-box {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    height: 100%;
}